$preference: #{"." + getGlobal("CONFIG.CLASS.preference")};

form##{getGlobal("CONFIG.USERSCRIPT_ID")} {
    width: 640px;
    margin: 32px auto;

    img {
        max-width: 100%;
    }

    #{$preference}, aside {
        transition-property: opacity;
        transition-duration: 200ms;
    }

    #{$preference} {
        opacity: 0.75;
    }

    #{$preference}:hover, #{$preference}:focus {
        opacity: 1;
    }

    .#{getGlobal("SITE.CLASS.fieldset")} {
        padding: 8px 16px;

        > legend {
            padding: 0 4px;
        }
    }

    .#{getGlobal("CONFIG.CLASS.radioButtonPreference")} {
        display: inline-block;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;

        label {
            margin-left: 16px;
        }

        > span:first-child::after {
            content: ":";
        }
    }

    .#{getGlobal("CONFIG.CLASS.inlinePreference")} {
        margin-right: 0.33em;
        display: inline-block;
    }

    input {
        vertical-align: middle;
    }

    label {
        padding: 4px 0;
    }

    input[type="checkbox"], input[type="radio"] {
        margin: 0 5px 0 0;
    }

    input[type="text"], input[type="number"], input[type="time"] {
        margin-left: 0.33em;
    }

    // Description
    aside {
        display: inline-block;
        margin-left: 12px;
        opacity: 0;
        pointer-events: none;
    }

    #{$preference}:hover > aside, #{$preference}:focus > aside {
        opacity: 1;
        transition-delay: 350ms;
        transition-duration: 500ms;
    }

    footer {
        text-align: center;
        opacity: 0.8;
    }
}
