.#{getGlobal("CONFIG.CLASS.iconButton")} {
    box-sizing: border-box;
    height: 23px;
    padding: 4px 6px;
    $size: 16px;
    img, svg, div {
        display: inline-block;
        height: $size;
        position: relative;
        top: -1px;
        vertical-align: top;
        width: $size;
    }
}

.#{getGlobal("CONFIG.CLASS.pmButton")} {
    margin-left: 8px;
    margin-bottom: 0;
}

.#{getGlobal("CONFIG.CLASS.codeInput")} {
    font-family: monospace;
}

.#{getGlobal("SITE.CLASS.forumPost")} .#{getGlobal("SITE.CLASS.forumPostControls")} .#{getGlobal("CONFIG.CLASS.quoteSignatureButton")} {
    margin-left: -50px; // to prevent horizontal overflow e.g. on a tablet
}

##{getGlobal("CONFIG.ID.preferencesShortcut")} {
    background-image: url("#{getGlobal("SITE.URL_ICONS_GENERAL")}") !important; // to override Blargmode
    background-position: -164.5px -95px;
    background-size: 600px auto; // scale down 2x; image is 1200px wide
    margin-left: #{getGlobal("SITE.EXTRA_TAB_MARGIN")};
}
