.#{getGlobal("CONFIG.CLASS.iconButton")} {
    box-sizing: border-box;
    height: 23px;
    padding: 4px 6px;
    $size: 16px;
    img, svg, div {
        display: inline-block;
        height: $size;
        position: relative;
        top: -1px;
        vertical-align: top;
        width: $size;
    }
}

.#{getGlobal("CONFIG.CLASS.iconTab")} a span {
    display: inline-block;
    width: 2px;
}

.#{getGlobal("CONFIG.CLASS.pmButton")} {
    margin-left: 8px;
    margin-bottom: 0;
}

textarea.#{getGlobal("CONFIG.CLASS.codeInput")}, .#{getGlobal("CONFIG.CLASS.codeInput")} textarea {
    font-family: monospace;
}

.#{getGlobal("SITE.CLASS.forumPost")} .#{getGlobal("SITE.CLASS.forumPostControls")} .#{getGlobal("CONFIG.CLASS.quoteSignatureButton")} {
    margin-left: -50px; // to prevent horizontal overflow e.g. on a tablet
}

.#{getGlobal("CONFIG.CLASS.linkToTop")} {
    $padding: 4px;
    display: inline-block;
    margin-top: 2px;
    padding: $padding;
    transform: translate(-$padding);
    &:before {
        content: "⏫";
    }
}

##{getGlobal("CONFIG.ID.preferencesShortcut")} {
    background-image: url("#{getGlobal("SITE.URL_ICONS_GENERAL")}") !important; // to override Blargmode
    background-position: -165px -95px;
    background-size: 600px auto; // scale down 2x; image is 1200px wide
    margin-left: #{getGlobal("SITE.EXTRA_TAB_MARGIN")};
}

// Selector must be kept in sync with @alling/better-sweclockers-lib:
.mistake {
    border-color: rgba(240, 70, 0, 0.6);
}
