/*
    Move rightmost ad to make news pages and forum pages the same
    width and let it go outside the visible area in narrow viewports.
*/
#content>.outsiderColumn {
    >.fluid>.inner {
        padding-right: 0;
    }
    >.fixed {
        position: relative;
        left: #{getGlobal("SITE.OUTSIDER_COLUMN_FIXED_WIDTH_PX")}px;
    }
}

/* Allow containers to shrink further */
.container, .minWidth, .outsiderColumn {
    width: auto !important;
    min-width: #{getGlobal("SITE.WRAPPER_WIDTH_NARROW_PX") - getGlobal("CONFIG.WRAPPER_WIDTH_EXTRA_ALLOWED_SHRINK_AMOUNT")}px;
}

/* Adjust search bar to fit in the thinner layout */
#search {
    min-width: 156px;
    max-width: 180px;
    width: 15vw;
}

/* Scale up images to fill width in article feed and articles */
.newsList .itemBanner img,
.articleHeader .bbImage img,
.articleHeader .tv-frame,
.articleContent .bbImage img,
.gphi-banner img,
.whiteHeader>.banner>img,
.articleList .image img {
    width: 100%;
}

/* Gallery images are special */
.galleryImage {
    margin-right: 10px;

    >.image>img {
        width: 100%;
        box-sizing: border-box;
    }
}

/* Frame for article video doesn't want to scale */
.articleHeader .tv-frame {
    .tvf-top,
    .tvf-right,
    .tvf-bottom,
    .tvf-left {
        display: none;
    }
}

/* Sacrifice "Svara" on own posts to make room */
.forumPost.isReader .button.reply {
    display: none;
}

/* Clearfix box in articles that images tend to pop out of */
.bbRelatedBox:after {
    content: " ";
    clear: both;
    display: block;
}
