##{getGlobal("CONFIG.ID.document")} {

$R: 50;
$G: 200;
$B: 0;
$A: 0.75;
$duration: 2s;
$iterations: 1;
$blur: 15px;
$spread: 50px;

.#{getGlobal("CONFIG.CLASS.button_restoreDraft")} {
    animation: pulse $duration $iterations;
    animation-delay: 0.2s;
    float: right;
    margin: 0; // so it doesn't push the textarea down
    margin-right: 32px;
}

@keyframes pulse {
    0%   { box-shadow: 0 0     0         rgba($R, $G, $B, $A); }
    100% { box-shadow: 0 0 $blur $spread rgba($R, $G, $B,  0); }
}

}
