#header {
    #subMenu {
        margin-top: 0;
    }
}

.whiteHeader {
    margin: 0 0 4px 0;

    .breadcrumbs {
        margin-bottom: 2px;
    }
}

.forumForm {
    .head {
        display: none;
    }

    .body > .inner {
        padding: 8px 13px;
    }

    .tcHint {
        display: none !important; // to override inline style
    }

    .tcLabel {
        padding-top: 0;
    }

    form > fieldset {
        margin-top: 0;
    }

    fieldset .tanukiButton {
        margin: 0;
    }

    .tanukiTextarea {
        margin-bottom: 0;
    }

    form > fieldset:last-of-type {
        border: none;
        padding: 0;
        margin-bottom: 0;
    }
}

.articleCommentsWidget {
    .commentArticle {
        display: none;
    }
}

.forumPost {
    .profile {
        padding-bottom: 4px;

        .title {
            margin-bottom: 2px;
        }

        .avatar {
            margin-bottom: 4px;
        }

        .meta {
            margin-bottom: 0;
        }
    }

    .main {
        padding-bottom: 0;
    }

    .signature {
        margin-top: 0;

        .top {
            margin-bottom: 4px;
        }

        .bbcode {
            margin-bottom: 0;
        }
    }

    .controls, .details {
        padding-top: 0;
    }
}
