##{getGlobal("CONFIG.ID.document")} {

// SweClockers has one layout for narrow viewports and one for wide viewports; in the narrow one, the rightmost ad column is not shown.
// In total, there are four "modes", from narrowest to widest:
//   * Narrow layout, fixed to left viewport edge
//   * Narrow layout, centered
//   * Wide layout, fixed to left viewport edge
//   * Wide layout, centered

$ID_CORRECTIONS_LINK: getGlobal("SITE.ID.correctionsLink");
$WRAPPER_WIDTH_WIDE_PX: getGlobal("SITE.WRAPPER_WIDTH_WIDE_PX");
$WRAPPER_WIDTH_NARROW_PX: getGlobal("SITE.WRAPPER_WIDTH_NARROW_PX");
$MAX_WIDTH_FOR_NARROW_LAYOUT_PX: getGlobal("SITE.MAX_WIDTH_FOR_NARROW_LAYOUT_PX");
$CORRECTIONS_DIALOG_OFFSET_PX: getGlobal("CONFIG.CORRECTIONS_DIALOG_OFFSET_PX");
$GUTTER_SIZE_PX: getGlobal("SITE.GUTTER_SIZE_PX");
$ARTICLE_WIDTH_PX: getGlobal("SITE.ARTICLE_WIDTH_PX");
$WIDTH_WHERE_WIDE_LAYOUT_GOES_CENTERED: getGlobal("SITE.WIDTH_WHERE_WIDE_LAYOUT_GOES_CENTERED");
$WIDTH_WHERE_NARROW_LAYOUT_GOES_CENTERED: getGlobal("SITE.WIDTH_WHERE_NARROW_LAYOUT_GOES_CENTERED");

// Dialog
.#{getGlobal("SITE.CLASS.proofDialog")} {
    position: fixed;
    height: 100vh; // Stops jumping up and down when horizontal scrollbar appears
    width: 100%;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    pointer-events: none;

    .wndModalOverlay {
        display: none;
    }

    .wndWindowArea {
        border: none;
        top: initial !important;
        opacity: 0.5;
        transition: opacity 200ms ease-in-out;
        pointer-events: initial;
        // Effectively, because no @media query: Narrow or wide layout, fixed to left viewport edge.
        left: #{
            $CORRECTIONS_DIALOG_OFFSET_PX
            + $GUTTER_SIZE_PX
            + $ARTICLE_WIDTH_PX
        }px !important;
    }

    @media screen and (min-width: #{$WIDTH_WHERE_NARROW_LAYOUT_GOES_CENTERED}px) and (max-width: #{$MAX_WIDTH_FOR_NARROW_LAYOUT_PX}px) {
        // Narrow layout, centered.
        .wndWindowArea {
            left: calc(50% + #{
                $CORRECTIONS_DIALOG_OFFSET_PX
                - $WRAPPER_WIDTH_NARROW_PX/2
                + $GUTTER_SIZE_PX
                + $ARTICLE_WIDTH_PX
            }px) !important;
        }
    }

    @media screen and (min-width: #{$WIDTH_WHERE_WIDE_LAYOUT_GOES_CENTERED}px) {
        // Wide layout, centered.
        .wndWindowArea {
            left: calc(50% + #{
                $CORRECTIONS_DIALOG_OFFSET_PX
                - $WRAPPER_WIDTH_WIDE_PX/2
                + $GUTTER_SIZE_PX
                + $ARTICLE_WIDTH_PX
            }px) !important;
        }
    }

    .wndWindowArea:hover, .wndWindowArea:focus-within {
        opacity: 1;
    }

    // Wide dark border:
    .wndWindowArea > .inner {
        box-shadow: 0 0 20px black;
        padding: 0;
    }

    // Narrow black border:
    .wndFrameDecorator {
        border-width: 1px;
    }

    .infoText {
        display: none;
    }

    .tanukiTextarea textarea {
        height: 240px;
    }
}

// "Skicka en rättelse" link
##{$ID_CORRECTIONS_LINK} {
    $radius: 6px;
    background-color: #da6b0f;
    border-bottom-left-radius: $radius;
    border-bottom-right-radius: $radius;
    bottom: 0;
    left: -1px; // to make clicking it easier (possible to click left of it otherwise)
    opacity: 0.3;
    padding: 4px 8px;
    position: fixed;
    transform: rotate(-90deg);
    transform-origin: top left;
    z-index: 100;
}

##{$ID_CORRECTIONS_LINK}:hover, ##{$ID_CORRECTIONS_LINK}:focus {
    opacity: 1;
}

}
