.list-actions {
    margin-bottom: 6px;
}

.pages {
    $size: 32px;
    > a, > span { // Disabled links are spans for some reason.
        align-items: center;
        box-sizing: border-box;
        display: flex;
        height: $size;
        justify-content: center;
        margin-right: 0;
        width: $size;

        > span {
            padding: 0;
            height: 1.2em;
        }
    }
}
