.#{getGlobal("CONFIG.CLASS.iconButton")} {
    box-sizing: border-box;
    height: 23px;
    padding: 4px 6px;
    $size: 16px;
    img, svg, div {
        display: inline-block;
        height: $size;
        position: relative;
        top: -1px;
        vertical-align: top;
        width: $size;
    }
}

.#{getGlobal("CONFIG.CLASS.pmButton")} {
    margin-left: 8px;
    margin-bottom: 0;
}

.#{getGlobal("CONFIG.CLASS.checkbox")} {
    input {
        margin-right: 4px;
        position: relative;
        top: -1px;
        vertical-align: middle;
    }
}

textarea.#{getGlobal("CONFIG.CLASS.codeInput")}, .#{getGlobal("CONFIG.CLASS.codeInput")} textarea {
    font-family: monospace;
}

.#{getGlobal("SITE.CLASS.forumPost")} .#{getGlobal("SITE.CLASS.forumPostControls")} .#{getGlobal("CONFIG.CLASS.quoteSignatureButton")} {
    float: right;
    margin-right: 10px; // Same as that between the vanilla quote buttons and the like button.

    > button {
        margin-right: 0; // Otherwise the margins are stacked.
    }
}

.#{getGlobal("PROOFREADING.mistake")} {
    border-color: rgba(240, 70, 0, 0.6);
}
