// Prevent the content below from being pushed down by our link:
.#{getGlobal("SITE.CLASS.settingsNavigation")} {
    // The height of the link was 20.5px according to Firefox at the time of writing this.
    $itemHeight: 21px;
    padding-bottom: $itemHeight;

    .#{getGlobal("SITE.CLASS.menuItem")}[title="#{getGlobal("T.general.preferences_link")}"] {
        margin-bottom: -$itemHeight;
    }
}
